
ReadFile/.vs/ReadFile/DesignTimeBuild/.dtbcache
ReadFile/.vs/ReadFile/v16/.suo
ReadFile/bin/Debug/netcoreapp3.1/ReadFile.dll
ReadFile/bin/Debug/netcoreapp3.1/ReadFile.pdb
ReadFile/obj/Debug/netcoreapp3.1/ReadFile.csproj.FileListAbsolute.txt
ReadFile/obj/Debug/netcoreapp3.1/ReadFile.csprojAssemblyReference.cache
ReadFile/obj/Debug/netcoreapp3.1/ReadFile.dll
ReadFile/obj/Debug/netcoreapp3.1/ReadFile.pdb
ReadFile/.vs/ReadFile/v16/.suo
*.ide-shm
ReadFile/.vs/ReadFile/v16/Server/sqlite3/storage.ide-wal
ReadFile/obj/Debug/netcoreapp3.1/ReadFile.csproj.FileListAbsolute.txt
ReadFile/obj/Debug/netcoreapp3.1/ReadFile.csproj.FileListAbsolute.txt
*.cache
*.cache
